<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RKR</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
</head>
<body>
<form ng-controller="CalculationController" ng-app="calculation">
    <div class="container">
        <h1>Reisekosten Inland</h1>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Eckdaten</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-1">Name:<br></div>
                    <div class="col-sm-1"><input type="text" ng-model="name" placeholder="Mustermann, Max"/><br></div>
                </div>
                <div class="row">
                    <div class="col-sm-2">Begin der Reise:<br> <input type="date" ng-model="date.a" placeholder="tt.mm.yy"></div>
                    <div class="col-sm-2"> Uhrzeit: <input type="time" ng-model="time.a" placeholder="hh:mm"><br></div>
                </div>
                <div class="row">
                    <div class="col-sm-2">Rückkehr:<br><input type="date" ng-model="date.b" placeholder="tt.mm.yy"></div>
                    <div class="col-sm-2">Uhrzeit: <input type="time" ng-model="time.b" placeholder="hh:mm"><br></div>
                </div>
                Grund der Reise:<br><input type="text" ng-model="reason"/><br>
                Reiseziel: <br><input type="text" ng-model="destination"/><br>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Beförderung</h3>
            </div>
            <div class="panel-body">
                Fortbewegungsmittel:<br><br>
                <div class="row">
                    <div class="col-sm-2">Mit eigenem Fahrzeug:<br></div>
                    <div class="col-sm-4"><input type="number" ng-model="drive.car" placeholder="0"/>km (á 0.30 Euro)<br></div>
                </div>
                <div class="row">
                    <div class="col-sm-2">Mit Bahn:<br></div>
                    <div class="col-sm-4"><input type="number" ng-model="drive.train" placeholder="0"/>Euro<br></div>
                </div>
                <div class="row">
                    <div class="col-sm-2">Mit Taxi:<br></div>
                    <div class="col-sm-4"><input type="number" ng-model="drive.taxi" placeholder="0"/>Euro<br></div>
                </div>
                <div class="row">
                    <div class="col-sm-2">Mit Flugzeug:<br></div>
                    <div class="col-sm-4"><input type="number" ng-model="drive.plane" placeholder="0"/>Euro<br></div>
                </div>
                <div class="row">
                    <div class="col-sm-2">Sonstiges:<br></div>
                    <div class="col-sm-4"><input type="number" ng-model="drive.other" placeholder="0"/>Euro<br></div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Übernachtungskosten</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-4">Übernachtung mit Frühstück (nicht ausgewiesen):<br></div>
                    <div class="col-sm-4"><input type="number" ng-model="sleepover.withBreakfast" placeholder="0"/>Euro<br></div>
                </div>
                <div class="row">
                    <div class="col-sm-4">Übernachtung mit Frühstück (wert ohne Frühstück):<br></div>
                    <div class="col-sm-4"><input type="number" ng-model="sleepover.breakfast" placeholder="0"/>Euro<br></div>
                </div>
                <div class="row">
                    <div class="col-sm-4">Übernachtung ohne Frühstück: <br></div>
                    <div class="col-sm-4"><input type="number" ng-model="sleepover.withoutBreakfast" placeholder="0"/>Euro<br></div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Pauschale für Mehraufwand für Verpflegung</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-3">Volle Reisetage á 24 Euro:<br></div>
                    <div class="col-sm-3"><input type="number" ng-model="cost.fullday" placeholder="0"/>Euro<br></div>
                </div>
                <div class="row">
                    <div class="col-sm-3">Erster Reisetag á 12 Euro:<br></div>
                    <div class="col-sm-3"><input type="number" ng-model="cost.firstday" placeholder="0"/>Euro<br></div>
                </div>
                <div class="row">
                    <div class="col-sm-3">Letzter Reisetag á 12 Euro:<br></div>
                    <div class="col-sm-3"> <input type="number" ng-model="cost.lastday" placeholder="0"/>Euro<br></div>
                </div>
                <br>
                Pauschale bei Übernahme durch Arbeitgeber (20 Euro)<br>
                <input type="number" ng-model="pauschale.days" placeholder="0"/>Tage<br>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Preis:</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-2">Beförderungskosten:</div>
                    <div class="col-sm-1">{{$scope.getTotalFortbewegung}}</div>
                </div>
                <div class="row">
                    <div class="col-sm-2">Übernachtungskosten:</div>
                    <div class="col-sm-1">{{}}</div>
                </div>
                <div class="row">
                    <div class="col-sm-2">Pauschalkosten:</div>
                    <div class="col-sm-1">{{}}</div>
                </div>
                <div class="row">
                    <div class="col-sm-2">Totalkosten:</div>
                    <div class="col-sm-1">{{}}</div>
                </div>
            </div>
        </div>
    </div>
</form>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
<script type="text/javascript" src="./app.js"></script>
<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</body>
</html>